@model WebProgOdev.Models.Trainer

<head>
    <title>Eğitmen Bilgileri</title>
</head>

<div class="card p-4" style="max-width:600px">
    <h1>Eğitmen Bilgileri</h1>

    <p>Ad Soyad: @Model.FullName</p>
    <p>Uzmanlık @Model.Specialty</p>
    <p>Hakkında: @Model.Bio</p>
    <p>@(Model.IsActive ? "Evet" : "Hayır")</p>
</div>

